<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <!-- Link do Css -->
    <link rel="stylesheet" href="cadastro.component.css">
    <!-- Link da Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
    <!-- div.texto , cria um atalho já com class -->
</head>


<body>
    <div>
        <h1>Cadastro</h1>
        <br>
        <input type="text" name="Email" placeholder="Seu e-mail..">
        <br><br>
        <input type="password" name="Senha" placeholder="Sua senha..">
        <br><br>
        <button>Enviar</button>
    </div>
</body>